body{
    background-color: #121212;
    color:white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;

}
.wallet-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    background: purple;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 9px;
}
.wallet-btn:hover {
    background: #6a0dad;
}
#heading {
    text-align: center;
    margin-top: 20px;
    font-size: 34px;
    color: #ccc;
}

.form-container {
    max-width: 500px;
    background-color: rgb(78, 78, 64);
    margin: 80px auto;
    padding: 20px;
    border-radius: 10px;
}   
input , textarea {
    width: 70%;
    padding: 8px;
    border-radius: 5px;
    margin: 6px 0 15px;
    border: 1px solid #ccc;
    background: #2a2a2a;
    color: white;


}



#desc {
  width: 70%;
  height: 100px; /* height badha ya chhota karne ke liye */
  resize: both; /* user khud drag karke size change kar sake */
}

.image-container {
    display: flex;
    justify-content: bottom;
    align-items: left;
    margin-top: 20px;
}

label {
  display: inline-block;
  width: 100px;  /* fix space for label */
}

#para {
    align-items: center;
    text-align: center;
    font-size: 15px;
    font-weight: lighter;
    color: #ccc;
}


#createToken {
    
    width: 100%;
    background: purple;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 8px;
}
#createToken:hover {
    background: #6a0dad;
}